{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Header -->
    <div class="overlay-transparent"></div>
        <div class="container h-100 text-white">
            <div class="row h-100">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="logo-font">
                        Try Our Monthly Wine Subscription
                    </h1>
                    {% if subscription.status == "active" %}
                        <h4 class="mt-5 font-weight-bold">Your subscription:</h4>
                        <div class="text-white border">
                            <div class="card-body">
                            <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
                            <p class="card-text">
                                {{ product.description }}
                            </p>
                            </div>
                        </div>
                        <div class="my-5">
                            <h4>
                                <a href="{% url 'unsubscripe' %}" class="shop-now-button btn btn-lg rounded-pill text-uppercase py-3">
                                    <span>
                                        Unsubscripe
                                    </span>
                                </a>
                            </h4>
                        </div>
                    {% else %}
                        <div class="my-5">
                            <h4>
                                <span>
                                    <button type="submit" class="shop-now-button btn btn-lg rounded-pill text-uppercase py-3" id="submitBtn">Subscribe</button>
                                </span>
                            </h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
          </div>
        <!-- end header -->
        <!-- monthly wine section -->
        <div class="container h-50 text-white">
        </div>
    

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'subscriptions/js/request.js' %}" type="text/javascript"></script>
{% endblock %}

