<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Wine</a>
                <a href="" class="dropdown-item ">Pasta</a>
                <a href="" class="dropdown-item ">Coffee</a>
                <a href="" class="dropdown-item ">Cheese</a>
                <a href="" class="dropdown-item ">Other</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="kicthen-machines-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kicthen Machines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="kicthen-machines-link">
                <a href="" class="dropdown-item">Pasta machines</a>
                <a href="" class="dropdown-item">Coffee Machines</a>
                <a href="" class="dropdown-item">Kitchen Helpers</a>
                <a href="" class="dropdown-item">All Machines</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="">
                Recepies
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="#">
                <u>Try Our Wine Subscription</u>
            </a>
        </li>
    </ul>
</div>