{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"> 
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay-transparent"></div>
    <div class="container h-50">
        <div class="row h-50">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="logo-font text-white">
                    Get inspiration in the blogs
                </h1>
            </div>
        </div>
    </div>

    <div class="container text-white">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8 left">
                {% for post in posts %}
                <div class="card mb-4">
                    <div class="card-body card-bagground">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.author }} | {{ post.created_on}} </p>
                        <p class="card-text">{{post.content|slice:":200" }}</p>
                        <a href="{% url 'post_detail' post.slug %}" class="btn btn-success">Read More &rarr;</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    

{% endblock %}