{% extends 'base.html' %} 

{% block page_header %}
    <div class="overlay-transparent"></div>
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <div class="container mt-5 text-white">
    <div class="row">
      <div class="col-md-12">
        <div class="card-bagground">
          <h1 class="text-center">{% block title %} {{ blog.title }} {% endblock title %}</h1>
          <p class="card-text ml-2">{{ blog.content | safe }}</p>
          <p class="ml-2">{{ blog.author }} | {{ blog.created_on }}</p>
        </div>
      </div>
    </div>
    <div class="container mt-5 text-white">
      <div class="row">
        <div class="col-md-8 border mb-4  mt-3 ">
          <div>
            <!-- comments -->
            <h2>{{ comments.count }} comments</h2>

            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
              <p class="font-weight-bold">
                {{ comment.name }}
                <span class="font-weight-normal">
                  {{ comment.created_on }}
                </span>
              </p>
              {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-8 border mb-4  mt-3 ">
          <div class="card-body">
            {% if new_comment %}
            <div class="alert alert-success" role="alert">
              Your comment is awaiting moderation
            </div>
            {% else %}
            <h3>Leave a comment</h3>
            <form method="post" style="margin-top: 1.3em;">
              {{ comment_form.as_p }}
              {% csrf_token %}
              <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>


{% endblock content %}

